@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--variable-font-main), sans-serif;
  }

  .header,
  .header__title,
  .like-icon,
  .button__text {
    font-family: var(--variable-font-accent), fantasy;
  }
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100%;
  font-size: var(--font-size-content);
  font-variation-settings: "wght" var(--font-weight-content, 400);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(
    --background-image,
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%)
  );
}

.header {
  max-inline-size: 700px;
  inline-size: 100%;
  padding-block: var(--padding-header);
}

.header__block {
  padding-block-start: clamp(7.5rem, 7.3239rem + 0.7512vw, 8.5rem);
  padding-block-end: clamp(7.5rem, 7.3239rem + 0.7512vw, 8.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
  border: var(--outline);
}

.header__logo {
  text-transform: uppercase;
  align-self: center;
  font-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
  font-variation-settings: "wght" var(--font-weight-content, 400);
  line-height: 1;
}

.header__title {
  text-transform: uppercase;
  align-self: center;
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
}

.content {
  max-inline-size: 700px;
  inline-size: 100%;
}

.card__list {
  display: flex;
  flex-direction: column;
  max-inline-size: 100%;
  gap: var(--gap-card);
}

.card__item {
  flex-direction: column;
  min-inline-size: 100%;
  background-color: var(--background-color);
  border: var(--outline);
}

.card__title {
  font-size: inherit;
  padding-block-start: 4px;
  padding-block-end: 6px;
  padding-inline: 10px;
  font-variation-settings: "wght" var(--font-weight-title, 700);
  border-bottom: var(--outline);
}

.card__watermark {
  position: relative;
  overflow: hidden;
}

.watermark {
  font-family: var(--variable-font-accent), var(--system-font);
  opacity: 50%;
  font-size: 0.875rem;
  position: absolute;
  inset-inline-end: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);
  inset-block-start: clamp(1.5rem, 1.4778rem + 0.0946vw, 1.563rem);
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__image {
  object-position: center center;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter-opacity {
  filter: opacity(0.9);
}

.filter-grayscale {
  filter: grayscale(0.6);
}

.filter-mix {
  filter: brightness(1.2) contrast(2) saturate(1.5);
}

.filter-contrast {
  filter: contrast(40%);
}

.filter-invert {
  filter: invert(0.8);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(0.7rem);
}

.filter-blur_label {
  text-wrap: nowrap;
}

.filter-hue-rotate {
  filter: hue-rotate(0.3turn) contrast(30%);
}

.card__section-text {
  padding: var(--padding-text);
  line-height: var(--line-height-text);
  border-block-start: var(--outline);
}

.text:not(:last-child) {
  margin-block-end: var(--margin-block-end);
}

.card__section-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: var(--gap-section-button);
  margin-block-end: var(--margin-section-button);
  margin-inline-end: var(--margin-section-button);
  align-items: center;
  align-content: center;
}

.card__icon-button {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 39px;
  height: 36px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  outline: 0;
  border: 0;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

svg {
  flex-shrink: 0;
}

svg.like-icon {
  display: grid;
  position: relative;
  outline: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color);
  transition: fill 0.3s 0.06s linear;
}

.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in;
  animation-direction: normal;
  transform-origin: center;
}

.sparks {
  fill: var(--heart-body-color);
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
  animation-direction: normal;
  transform-origin: center;
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
  border: var(--outline);
}

.card__like-button {
  inline-size: var(--card-button-inline);
  block-size: var(--card-button-block);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  font-size: 0.875rem;
  align-items: center;
  line-height: var(--line-height-text-button);
  color: var(--accent-color-text);
  z-index: 2;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  text-wrap: nowrap;
  padding-block: var(--padding-block-button-save);
  padding-inline: var(--padding-inline-button-save);
  gap: var(--gap-button-save);
  border: var(--outline);
  margin-block-start: var(--margin-start-button);
  margin-block-end: var(--margin-end-button);
}

.floppy {
  width: var(--floppy-size-dek);
  position: relative;
  mix-blend-mode: difference;
  color: var(--accent-color-text);
  z-index: 2;
}

.floppy-dialog {
  width: 39px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--accent-color-text);
  z-index: 2;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  inset: 0;
}

.dialog {
  display: grid;
  max-inline-size: min-content;
  padding-inline: var(--padding-dialog-dek);
  padding-block: var(--padding-dialog-dek);
  gap: var(--gap-dialog);
  flex-direction: column;
  justify-content: center;
  outline: var(--outline);
  border: 0;
  transition: opacity 0.3s ease-in-out;
}

.section-dialog {
  display: flex;
  gap: var(--gap-section-dialog);
}

dialog::backdrop {
  -webkit-backdrop-filter: brightness(25%);
  backdrop-filter: brightness(25%);
}

.text-dialog {
  text-transform: uppercase;
  align-self: center;
  text-wrap: wrap;
  line-height: var(--line-height-dialog);
}

.dialog-button {
  min-inline-size: var(--dialog-button-size-dek);
  align-items: center;
  block-size: 38px;
  padding: 9px 17px;
}

@media (width <= 375px) {
  .save {
    flex-direction: column;
  }

  .floppy {
    width: var(--floppy-size-mob);
  }

  .dialog {
    padding-inline: var(--padding-dialog-mob);
  }

  .dialog-button {
    min-inline-size: var(--dialog-button-size-mob);
  }
}
